
.navbar-brand{
  padding-left: 6%;
}

.carousel-inner img {
  margin: auto;
  
}
.image3{
  height: 530px;
  
  margin-bottom: 10%;
  margin-top: 10%;
}
.carousel-item{
  height: 530px;
  
  margin-bottom: 10%;
  
  
}


